{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Réinitialisation du mot de passe</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
            <h3 style="margin-bottom: 15px;">Réinitialisation du mot de passe</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.email|add_class:"form-control"|add_class:"form-control-lg"|attr:"placeholder: Entrez votre adresse email"}}
                <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Réinitialiser le mot de passe</button>
            </form>
    </div>
</div>
{% endblock %}