{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    <title>Réinitialisation du mot de passe</title>
{% endblock %}

{% block content %}
<h3>Entrez votre nouveaa mot de passe</h3>
<form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
            {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Mot de passe"}}
            <span class="input-group-text" id="password-tooltip" data-html="true" data-tooltip="Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.
            Votre mot de passe doit contenir au minimum 8 caractères.
            Votre mot de passe ne peut pas être un mot de passe couramment utilisé.
            Votre mot de passe ne peut pas être entièrement numérique.">ℹ️</span>
        </div>

    <div class="input-group mb-3">
            {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Confirmer le mot de passe"}}
        </div>
    <button class="btn btn-primary" type="submit">Changer de mot de passe</button>
</form>

{% endblock %}