{% extends 'base.html' %}

{% block title %}
    <title>Thème 2</title>
{% endblock %}

{% block content %}
    <br>{{ user }}<br>
    <h1>{{ user.subject2 }}</h1>

    {% if question.is_question_answered_subject2 %}
        <h2>Question du jour complétée</h2>
        <div>
        {{ question.question_subject2 }}<br>
        {% for option in options %}
            <input type="radio" id="{{ option_answered }}" name="user_answer_subject2" value="{{ option }}" disabled>
            <label for="{{ option }}">{{ option }}</label><br>
        {% endfor %}
        </div>
        <div>
            <h4>Vous avez répondu: {{ question.user_answer_subject2 }}</h4>
            <h3>La bonne réponse est: {{ question.expected_answer_subject2 }}</h3>
        </div>

    {% else %}
        <div>
            <h2>Question du jour</h2>
        <form method="POST">
            {% csrf_token %}
            {{ question.question_subject2 }}<br>
            {% if question.question_type_general_culture == 1 %}
                {% for option in question.options_subject2 %}
                    <input type="radio" id="{{ option }}" name="user_answer_subject2" value="{{ option }}">
                    <label for="{{ option }}">{{ option }}</label><br>
                {% endfor %}
            {% else %}
               <!-- <input type="text" name="user_answer"> -->
            {% endif %}
            <input type="submit" value="Enregistrer">
        </form>
        </div>
    {% endif %}
{% endblock %}