{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Modifier thème</title>
{% endblock %}

{% block content %}
    <h4>N'hésitez pas à être exhaustifs sur la précision des sujets</h4>
    <p>Utilisez plusieurs mots clés</p>
    <p class="warning_score">Attention si vous changez de thème/difficulté votre série de victoires sera remise à 0</p>
    {% if request.user.id == user.id %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}

            <div class="subject_title">
            <strong>Thème 1 :</strong>
            </div>
            <div class="subject_form">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default-subject1">🎰</span>
                        {{ form.subject1|add_class:"form-control"|attr:"placeholder: Ex. : Football" }}
                    </div>
                    {{ form.difficulty_subject1|add_class:"form-select" }}
            </div>

            <div class="subject_title">
            <strong>Thème 2 :</strong>
            </div>
            <div class="subject_form">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default-subject2">🎰</span>
                    {{ form.subject2|add_class:"form-control"|attr:"placeholder: Ex. : Nutrition" }}
                </div>
                {{ form.difficulty_subject2|add_class:"form-select"}}
            </div>

            <div class="subject_title">
                <strong>Culture générale : </strong> Difficulté
            </div>
            <div class="subject_form">
                {{ form.difficulty_general_culture|add_class:"form-select" }}
            </div>
            <br>
            <button type="submit" class="btn btn-success" id="save-subjects-button">Enregistrer</button>
        </form>
    </div>
    {% endif %}
{% endblock %}